<div class="slidenav">
  <div class="header d-flex">
    <h5>DASHBOARD</h5>
    <span class="text-black bg-white px-2 py-0 ms-3" style="border-radius: 3px; height: 27px;">
      Admin
    </span>
  </div>
  <div class="main">
    <p class="title px-3 pt-3 mb-2 fw-bold" style="font-size: 12.5px;color: #8ca4a5;">APPLICATION</p>
    <ul class="application text-white">
      <li class="px-3 py-2 menu-item d-flex align-items-center" routerLink="dashboard">
        <i class="fas fa-tachometer-alt me-3"></i>
        <p>Dashboard</p>
      </li>
      <li>
        <div class="accordion-button menu-item px-3 py-2 d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#catalog-collapse" aria-expanded="true" aria-controls="catalog-collapse">
          <i class="fas fa-database me-3"></i>
          <p>Catalog</p>
        </div>
        <div id="catalog-collapse" class="accordion-collapse collapse" aria-labelledby="catalog-header">
          <ul class="accordion-body">
            <li class="menu-item py-1">Product List</li>
            <li class="menu-item py-1">Product Detail</li>
            <li class="menu-item py-1">Category List</li>
            <li class="menu-item py-1">Category Detail</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="accordion-button menu-item px-3 py-2 d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#customer-collapse" aria-expanded="true" aria-controls="customer-collapse">
          <i class="fas fa-user me-3"></i>
          <p>Customer</p>
        </div>
        <div id="customer-collapse" class="accordion-collapse2 collapse" aria-labelledby="catalog-header">
          <ul class="accordion-body">
            <li class="menu-item py-1">Customer List</li>
            <li class="menu-item py-1">Customer Detail</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="accordion-button menu-item px-3 py-2 d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#order-collapse" aria-expanded="true" aria-controls="order-collapse">
          <i class="fas fa-shopping-cart me-3"></i>
          <p>Order</p>
        </div>
        <div id="order-collapse" class="accordion-collapse2 collapse" aria-labelledby="catalog-header">
          <ul class="accordion-body">
            <li class="menu-item py-1">Order List</li>
            <li class="menu-item py-1">Order Detail</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="accordion-button menu-item px-3 py-2 d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#marketing-collapse" aria-expanded="true" aria-controls="marketing-collapse">
          <i class="fas fa-heart me-3"></i>
          <p>Marketing</p>
        </div>
        <div id="marketing-collapse" class="accordion-collapse2 collapse" aria-labelledby="marketing-header">
          <ul class="accordion-body">
            <li class="menu-item py-1">Coupon List</li>
            <li class="menu-item py-1">Coupon Detail</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="accordion-button menu-item px-3 py-2 d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#inbox-collapse" aria-expanded="true" aria-controls="inbox-collapse">
          <i class="fas fa-envelope me-3"></i>
          <p>Inbox</p>
        </div>
        <div id="inbox-collapse" class="accordion-collapse2 collapse" aria-labelledby="inbox-header">
          <ul class="accordion-body">
            <li class="menu-item py-1">Conversation List</li>
            <li class="menu-item py-1">Message List</li>
          </ul>
        </div>
      </li>
      <li class="px-3 py-2 menu-item d-flex align-items-center">
        <i class="fas fa-comment me-3"></i>
        <p>Chat</p>
      </li>
      <li class="px-3 py-2 menu-item d-flex align-items-center">
        <i class="fas fa-server me-3"></i>
        <p>File Manager</p>
      </li>
      <li class="px-3 py-2 menu-item d-flex align-items-center">
        <i class="fas fa-chart-bar me-3"></i>
        <p>Analyst</p>
      </li>
      <li class="px-3 py-2 menu-item d-flex align-items-center">
        <i class="fas fa-calendar me-3"></i>
        <p>Calendar</p>
      </li>
      <li>
        <div class="accordion-button menu-item px-3 py-2 d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#setting-collapse" aria-expanded="true" aria-controls="setting-collapse">
          <i class="fas fa-cog me-3"></i>
          <p>Setting</p>
        </div>
        <div id="setting-collapse" class="accordion-collapse2 collapse" aria-labelledby="setting-header">
          <ul class="accordion-body">
            <li class="menu-item py-1">Setting 1</li>
            <li class="menu-item py-1">Setting 2</li>
          </ul>
        </div>
      </li>
    </ul>
    <hr class="mb-0">
    <p class="title px-3 pt-3 mb-2 fw-bold" style="font-size: 12.5px;color: #8ca4a5;">PAGES</p>
    <ul class="pages text-white">

    </ul>
  </div>
</div>
